@model lab9kos.Models.ViewModels.TakenViewModels.TaakKaartViewModel

<div class="drag-item-inner" id="drag-inner-@Model.Taak.Id">
    <div class="drag-item-visible">
        <h5>@Model.Taak.Titel</h5>
        <p>beschrijving?</p>
    </div>
    <div hidden>
        <div id="dialog-drag-inner-@Model.Taak.Id" title="@Model.Taak.Titel">
            <div class="card">
                <div class="card-header">
                    <div>
                        <h4>@Model.Taak.Titel</h4>

                    </div>
                    <div>
                        <button class="btn btn-danger" id="popup-close">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </div>
                <div class="card-block">
                    <div class="taak-users-@Model.Taak.Id">
                        @Html.Partial("_TaakGebruikers", Model.Taak.Gebruikers.Select(t => t.Gebruiker))
                    </div>
                    @{
                        var isInTaak = Model.Taak.Gebruikers.Select(g => g.GebruikerId).ToList().Contains(Model.CurrentUserId);
                    }
                    <button hidden="@(!isInTaak)" disabled="@(!isInTaak)" id="unsubscribe" taak-id="@Model.Taak.Id" class="btn btn-outline-danger">
                        <i class="material-icons">thumb_down</i>
                    </button>
                    <button hidden="@isInTaak" disabled="@isInTaak" id="subscribe" taak-id="@Model.Taak.Id" class="btn btn-outline-success">
                        <i class="material-icons">thumb_up</i>
                    </button>
                </div>
                <div class="card-block">
                    <form method="post" asp-controller="" asp-action="">
                        TODO form om dingen aan te passen
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>