@using System
@model lab9kos.Models.ViewModels.UrenViewModels.IndexViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="full-width body-height">
    <div class="side body-height">
        <div class="side-content body-height">
            <div class="week-wrapper">
                <div class="week-selector">
                    <p>
                        <a href="#"></a>Week @Model.WeekNummer<a href="#"></a>
                    </p>
                </div>
                <table class="rwd-table">
                    <tr>
                        <th>Naam</th>
                        <th>Maandag</th>
                        <th>Dinsdag</th>
                        <th>Woensdag</th>
                        <th>Donderdag</th>
                        <th>Vrijdag</th>
                        <th></th>
                    </tr>
                    @foreach (var week in Model.Werkweken)
                    {
                        <tr>
                            <td data-th="Naam">@($"{week.Werknemer.Voornaam} {week.Werknemer.Naam}")</td>
                            <td data-th="Maandag">@week.Maandag</td>
                            <td data-th="Dinsdag">@week.Dinsdag</td>
                            <td data-th="Woensdag">@week.Woensdag</td>
                            <td data-th="Donderdag">@week.Donderdag</td>
                            <td data-th="Vrijdag">@week.Vrijdag</td>
                            <td><a asp-action="Edit" asp-route-id=@week.Id><i class="white material-icons">mode_edit</i></a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="side-bar full-height">
            <input class="form-control" id="week-search" type="text" placeholder="Search">
        </div>
        <div class="side-toggle">
            <button class="full-height full-width">
                <i class="material-icons">menu</i>
            </button>
        </div>
    </div>
</div>